
  .logoutBtn {
    padding: 10px 20px;
    margin-left: 350px;
    background-color: #c03a49;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .loginBtn{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #27bcda;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }