.todo-details {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  button {
    margin-top: 40px;
    padding: 10px 10px;
    background-color: #3c99b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  h2{
    color: #232cd3;
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  p{
    color: rgb(95, 95, 104);
  }
  